.headerData {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 4px;
  cursor: pointer;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
}
.headerDataImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 10px;
}
.headerDataName {
  font-weight: 500;
  font-size: large;
}