.conversationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  margin-top: 10px;
  cursor: pointer;
  height: 60px;
  border-bottom: 1px solid #d7d7d7;
}

.conversationData {
  display: flex;
  align-items: center;
}
.conversationText {
  display: flex;
  flex-direction: column;
}
.conversationContainer:hover {
  background-color: rgb(212, 202, 202);
}
.conversationImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.conversationName {
  font-weight: 500;
  font-size: larger
}
.conversationLastMessage {
  font-weight: 100;
  font-size: large;
  color: grey;
  display: inline-block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden ;
  text-overflow: ellipsis;
}
.conversationLastMessageFriend {
  font-weight: 100;
  font-size: large;
  color: red;
  display: inline-block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden ;
  text-overflow: ellipsis;
}
.conversationLastMessageDate {
  font-weight: 200;
  font-size: smaller;
  white-space: nowrap;
}

