.chatMenuHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid #d7d7d7;
  background-color: #f5f5f5
}
.chatMenuUserInfo {
  display: flex;
  align-items: center;
}
.chatMenuUserImg {
  padding-top: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 10px;
}
.chatMenuUserName {
  font-weight: 500;
  font-size: x-large;
}
.chatMenuInput {
  width: 90%;
  padding: 10px 10px;
  border: 1px solid #d7d7d7;
  border-radius: 18px;
  margin-left: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}
.chatMenuInput:focus {
  outline: none;
}