.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.messageTop {
  display: flex;
  align-items: center;

}
.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(214, 207, 207);
  max-width: 300px;
}
.messageBottom {
  font-size: 12px;

}
.message.own {
  align-items: flex-end
}
.message.own .messageText{
  background-color: rgb(56, 56, 255);
  color: white;
}