.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.messageTop {
  display: flex;
  align-items: center;

}
.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 10px
}
.messageText {
  padding: 10px;
  border-radius: 25px;
  background-color: #3c4154;
  color: white;
  max-width: 600px;
}
.messageBottom {
  font-size: 12px;
  margin-left: 60px

}
.message.own {
  align-items: flex-end
}
.message.own .messageText{
  background-color: #e0e0e0;
  color: #616161;
}